.backg{
    display: flex;
    justify-content: center;   
    text-align: center;
    height: auto;
}
.textContainer{
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 450px;
    width: 80%;
    vertical-align:middle;
    text-align: center;
    border: 3px solid aquamarine;
    border-radius: 20px;
    font-size: 26px;
    color: aquamarine;
}

.spacing{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: xx-large;
}
.p{    
    font-size: x-large;
}
.btn_irLogin{
    background-color: brown;
    width: 20%;
    color: aqua;
}
@media screen and (max-width:700px){
    .titulo{
        font-size: 30px;
    }
    .spacing{
        font-size: 20px;
    }
    .p{
        font-size: 15px;
    }
    .btn_irLogin{
        background-color: brown;
        width: 25%;
        color: aqua;
        font-size: 15px;
    }
}