.contFootbar{
    background-color: rgba(135, 219, 199, 0.295);
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    bottom: 0;
    position:fixed;
} 

.leftFooter {
    width: 20%;
    display: flex;  
    flex-direction: column;
    align-items: center;
    color: azure;
}
.textoIzq, .textoMedio, .textoMedioYO, .followUs{
    font-size: 13px;
    margin: 0 0 0 0;
}

.midFooter {
    width: 60%;  
    text-align: center;
    color: azure;
}  

.rightFooter {
    width: 20%;  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightFooter > h3 {
    font-family: "Roboto";
    font-size: 1.4vmax;
    text-decoration: underline;
    color: azure;
}
.linkRedes {
    text-decoration: none;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #eb8ddd;
    transition: all 0.5s;
}  
.subDivDerecha > a:hover {
    color: #0e2de0;
}


@media screen and (max-width:550px){       
    .leftFooterPCH {
        width: 40%;
    }
    .textoIzqPCH{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 10px;  
        margin-left: 5px;
        color: azure;
    }
    .midFooter {
        width: 50%;  
        text-align: center;
    }
    .textoMedio{
        font-size :10px;
    }
    .textoMedioYO{
        font-size: 7px;
    }
    .followUs{
        display: none;
    }
    .linkRedes {
        font-size: 10px;
    }

    .leftFooter {
        display: none;
    }
}

@media screen and (min-width: 551px) and (max-width: 849px){
    .leftFooter{
        display: none;
    }
    .leftFooterPCH{
        width: 27%;        
    }
    .textoIzqPCH{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 10px;  
        margin-left: 1rem;
        color: azure;
    }
    .midFooter {
        width: 45%;  
        text-align: center;
    } 
    .rightFooter{
        align-items: end;
    }
}

@media screen and (min-width: 850px) {
    .leftFooterPCH{
        display: none;
    }
    .leftFooter {
        margin-left: 1rem;
        width: 30%;
    }
    .textoIzq{
        font-size: 10px;
    
    }
    .midFooter {
        width: 50%;  
        text-align: center;
    }   
}

@media screen and (min-width: 1130px) {
    .leftFooterPCH{
        display: none;
    }
    .leftFooter {
        margin-left: 1rem;
        width: 20%;
    }
    .textoIzq{
        font-size: 12px;
    
    }
    .midFooter {
        width: 60%;  
        text-align: center;
    }   
}